<div class="lang-wrap">
  <details class="lang-details">
    <summary class="lang-btn">
      <img src="/flags/{{ .Site.Language.Lang }}.svg" alt="{{ .Site.Language.LanguageName }}" style="width:20px;height:14px"/>
      <span>{{ .Site.Language.LanguageName }}</span>
    </summary>
    <div class="lang-list">
      {{ range .Site.Languages }}
        {{ if ne .Lang $.Site.Language.Lang }}
          <a href="{{ .Lang | relLangURL }}"><img src="/flags/{{ .Lang }}.svg" alt="{{ .LanguageName }}" style="width:20px;height:14px"/> {{ .LanguageName }}</a>
        {{ end }}
      {{ end }}
    </div>
  </details>
</div>
